[2016-05-11 14:34] nilkesede opened #1 "Where's the code?"

[2016-05-13 01:11] #1 closed

[2016-07-02 12:37] soyjavi opened #2 "Release 2.1.0 and console logs"
Hi,

Just tell you that lastest version has console logs

[code]

[2016-07-02 12:48] matheuss commented on #2
Holy shit man 😓 I accidentally added a `console.log` when I was waiting for Travis to run the tests. Thank you for noticing this! I'll remove that and `deprecate` `2.1.0` as soon as I get home.

[2016-07-02 12:49] soyjavi commented on #2
👍

[2016-07-02 13:48] #2 closed

[2016-10-10 16:55] omar391 opened #3 "Url confirmation"
Hi,

I am porting this lib into JAVA. However, I need to confirm the final url because it is failing with 403 err.
Please confirm following url format for q="hello":

https://translate.google.com/translate_a/single?client=t&dt=at&dt=bd&dt=ex&dt=ld&dt=md&dt=qca&dt=rw&dt=rm&dt=ss&dt=t&ie=UTF-8&oe=UTF-8&otf=1&ssel=0&tsel=0&kc=7&sl=en&tl=bn&hl=bn&q=hello&tk=29979.29979

[2016-12-07 04:31] Londeren opened #4 "Implementation for browser"
Howdy!
Can you implement GT Api for using in browser?

[2017-01-02 22:28] Ryu945 opened #5 "Text Limit with Asian Characters"
You can't put anywhere near as many kanji, hiragana or katakana characters as you can put english characters.  Also the limit for both of them  is far less then 2000 characters.

[2017-01-25 08:20] RackyRose opened #6 "module : querystring not in package.json"
seem like that you forgot to put   querystring in package.json 's dependencies.

[2017-01-25 10:09] #6 closed

[2017-01-25 10:09] RackyRose commented on #6
sorry , my fault

[2017-02-02 05:52] mklam2 opened #7 "Text Limit with English characters"
I found that using this package, the text limit is around 1500 characters.
is it because it is using GET request instead of POST ? As i am expecting a 5000 characters limit.

Thanks

[2017-02-14 19:43] rodrigoazs commented on #4
I'm trying to do that with Browserify, but it's not working.

[2017-02-16 16:20] vincentchin commented on #4
I'm assuming you can only implement this into your own Node server as that's what I did.

[2017-03-13 14:59] micktaiwan opened #9 "TypeError: Cannot read property 'prototype' of undefined"
I've this error in the console

[code]

[2017-03-13 19:42] caseydailey opened #10 "how to use in angular? injections, etc?"
not sure where to get started implementing this in an angular project. any advice would be appreciated.

[2017-03-16 11:38] samimaliks commented on #10
I second you

[2017-03-25 11:37] yangperasd commented on #7
I also think it is using GET request instead of POST。
In my case, I found the author use 'got' module. So I change the index.js file to convert GET => POST.
Here is my change:
`            ...
            return url + '?' + querystring.stringify(data);
        }).then(function (url) {
            return got(url,{'method':'POST'}).then(function (res) {
            ...
`
Hope it will work fine with

[2017-04-05 18:58] dragonfire535 opened #11 "BAD_NETWORK"
{ Error
     at /app/node_modules/google-translate-api/index.js:105:17
     at process._tickCallback (internal/process/next_tick.js:109:7) code: 'BAD_NETWORK' }

This occurs at every translation request.

[2017-04-05 19:58] mikhailrojo commented on #11
it happens to me too

[2017-04-05 20:27] AStoker commented on #11
Likewise. If we're all getting this, it's most likely a change on Google's side :(

[2017-04-05 21:18] mikhailrojo commented on #11
I debugged a little and it seems to me that 'safe-eval' module works strange
like it filters more then it supposed to and we end up in catch statement

[2017-04-05 21:53] monodrom commented on #11
Also getting it.

[2017-04-05 23:24] dragonfire535 commented on #11
[code]
Seems like any error code that's not `undefined` or `200` is `BAD_NETWORK`

[2017-04-06 06:15] JukeboxRhino commented on #11
I too am getting this error. Any fixes?

[2017-04-06 06:44] dragonfire535 commented on #11
Why would it be checking for specifically undefined in the first place.

[2017-04-06 06:47] JukeboxRhino commented on #11
I've opened a pull request to fix it

[2017-04-06 17:03] Ajaja commented on #11
403 https://translate.google.com/translate_a/single
Google has just closed the door.

[2017-04-06 17:20] LukasNavickas commented on #11
Are you guys going to fix it??

[2017-04-06 20:32] teamsteamdev commented on #11
Don't worry, 403 is just an authentication error.

Using @JukeboxRhino changes _everything still works_.

[2017-04-08 16:24] myfrndjk commented on #11
hi,

is it fixed.
I downloaded from npm i google-translate-api

[code]
unfortunately the above sample code is throwing error

Thanks
Jk

[2017-04-09 00:42] anubi commented on #11
I grabbed teamsteamdev 's pull request (removing undefined checks) and I still receive a BAD_NETWORK request using the basic 'Ik spreek Engels' test.

[2017-04-09 06:32] mayank134819 opened #17 "Service Unavailable"
Error: Response code 503 (Service Unavailable)
    at /home/mayank/Desktop/node_modules/google-translate-token/index.js:103:25
    at process._tickCallback (internal/process/next_tick.js:109:7)
  code: 'BAD_NETWORK',
  message: 'Response code 503 (Service Unavailable)'

 Error: getaddrinfo ENOTFOUND translate.google.com translate.google.com:443
    at /home/mayank/Desktop/node_modules/google-trans

[2017-04-11 18:59] aman-raikwar commented on #11
Hello guys!

Did you got the solution for the BAD_NETWORK issue. I m getting the same. Please help.

I also tried the solution defined above but no success..

I need it on urgent basis.

[2017-04-14 06:42] JukeboxRhino commented on #17
I'm also getting this now. My previous fix had fixed the BAD_NETWORK error but now every request fails with this 503.

[2017-04-22 10:49] FrozenCaptain commented on #11
yup its solved https://github.com/arthurlacoste/google-translate-api/commit/ed8c87a016b66f2accb7f82a57a2025ea7411c91 What i did is just copied the whole Index.js
And it worked!!!! Nice! God bless you.
https://github.com/arthurlacoste

[2017-04-23 08:35] eliavmaman commented on #17
i'm getting that as well... any idea fellowes? :)

[2017-05-04 17:11] dalezak commented on #11
If you wanted to use @arthurlacoste's commit https://github.com/arthurlacoste/google-translate-api/commit/ed8c87a016b66f2accb7f82a57a2025ea7411c91 directly, you can update your `package.json` to:
[code]

[2017-05-04 20:10] arthurlacoste commented on #11
@dalezak more simple :
`"google-translate-api": "arthurlacoste/google-translate-api"`

[2017-05-05 18:21] srochar commented on #11
or
`"google-translate-api": "https://github.com/arthurlacoste/google-translate-api/archive/master.tar.gz"`

[2017-05-05 19:40] prusya commented on #11
@arthurlacoste Could you please also update languages.js file with `'am': 'Amharic'` language added?

[2017-05-06 07:07] arthurlacoste commented on #11
Updating languages.js :
- Adding Amharic
- Correct error (Sudanese > Sundanese)

https://github.com/arthurlacoste/google-translate-api

[2017-05-06 15:13] teamsteamdev commented on #17
While we're waiting for PR #16 to be merged, try this repo: [teamsteamdev/google-translate-api#2083](https://github.com/teamsteamdev/google-translate-api/tree/2083). I just ran `$ yarn test` and it passes for me. This branch incorporates PR #13 which allows for submitting longer text strings, and it should solve Issues #11, #5, #6, but YMMV.

I added it to `package.json` in one of my projects like

[2017-05-06 15:15] teamsteamdev commented on #17
I have noticed that Google rejects strings including `\r`. If you're having problems, try looking at the string you're passing for translation. I'm splitting my submissions into paragraphs and submitting them separately using `Promise.all()`.

[2017-05-18 17:47] ashwindollar commented on #11
Is there any idea when the node package itself will be updated with this resolution? When I deploy my application, the cloud service provider (Heroku) will likely install this package from npm. That's most likely going to pull down the buggy package directly from npm.

[2017-05-18 19:32] JukeboxRhino commented on #11
The only way is if matheuss himself accepts the pull request, unless
somebody wants to fork it and make a new npm package and we can work off
that one.

On Thu, May 18, 2017, 1:47 PM Ashwin Narasimhan <notifications@github.com>
wrote:

[2017-05-18 21:01] ashwindollar commented on #11
Thanks for the reply @JukeboxRhino. For now Yarn seems to be installing directly from arthurlacoste's GitHub repo so it should probably work with Heroku. It's been 13 days since arthur fixed the bug. How much more time in your opinion do you think it's appropriate wait for the pull request to be approved before someone forks it and people work off the fork?

[2017-05-19 01:46] FranklinChen commented on #11
It's been almost a year now since any activity here. I think it's time for us to move on.

[2017-05-19 07:27] arthurlacoste commented on #11
I @ashwindollar (and everybody),

I use Heroku too, and NPM provide some feature allowing github repo as a npm package :

With my fork, you can use :
"google-translate-api": "arthurlacoste/google-translate-api"

More info on the NPM doc for Github url :
https://docs.npmjs.com/files/package.json#github-urls

And others services :
https://docs.npmjs.com/files/package.json#repository

But I can creat

[2017-05-19 16:02] ashwindollar commented on #11
Hi @arthurlacoste. I was able to get it working with that change to my package.json.

[2017-05-30 07:46] Pruthwirajj opened #22 "Shows error while build the project"
After installing the package When I build the project it shows below error:
 @ ./~/got/index.js 19:12-32
 @ ./~/google-translate-api/index.js
 @ ./src/app/ui/common/address-info.component.ts
 @ ./src/app/app.module.ts
 @ ./src/main.ts
 @ multi webpack-dev-server/client?http://localhost:4200/ ./src/main.ts

Please let me know any solution of how to tackle with this error.
Thanks in advance.

[2017-06-02 18:24] AStoker commented on #17
This issue is a duplicate of https://github.com/matheuss/google-translate-api/issues/11

[2017-06-04 17:38] SilverMountainSoftware commented on #10
I also would like to play with this, but I don't know how to make it work in Angular either.

[2017-06-09 05:34] sameera207 commented on #9
hey @micktaiwan , I have the issue with an Ionic2 app (angular 2). Did you get this resolved ? If so would you mind telling me the process.

thanks :)

[2017-06-12 07:28] micktaiwan commented on #9
No, sorry, I didn't solve it. I was just testing the lib.

[2017-06-13 14:53] iuccio commented on #11
Just replace:
 (lindex.js ln:87)
`if (body[7] !== undefined && body[7][0] !== undefined) {`
with
`if (body[7] !== null && body[7][0] !== null) {`

and
(index.js ln:75)
`if (obj[0] !== undefined) {`
with
`if (obj[0] !== null) {`

;-)

[2017-06-13 20:55] DavidMetcalfe opened #23 "Typo in README examples"
You've got "I spea Dutch!" used in your README in two places instead of "I speak Dutch!"

[2017-06-14 10:50] erlinux opened #24 "How to run it..."
I'am a linux development. and i am learn Python and want to developent a dict ...

but...i dont know to can i run this project. i try ``node index.js`` but fail

[2017-06-18 12:41] YamanSehzade commented on #9
Hi @micktaiwan @sameera207 , i have same issue :(   Did you solve it ?

[2017-06-18 14:32] YamanSehzade commented on #9
i think it's about this code => const translate = require('google-translate-api')

[2017-06-23 22:07] techmexdev commented on #24
@erlinux `npm install` first

[2017-06-24 18:23] XSkunk commented on #10
Yo tambien estoy esperando alguna ayuda para angular2

[2017-06-27 12:52] vagusX commented on #11
@JukeboxRhino you are right, so @matheuss will you fix it?

[2017-06-27 13:21] AStoker commented on #11
https://github.com/matheuss/google-translate-api/issues/11#issuecomment-302586764
Time to move on ☹️

[2017-06-27 20:45] JukeboxRhino commented on #23
Check line 35, it's intentional

[2017-06-27 20:45] #23 closed

[2017-06-27 20:50] JukeboxRhino commented on #17
Duplicate of #11

[2017-06-27 20:50] #17 closed

[2017-06-27 20:56] JukeboxRhino commented on #11
Resolved. https://github.com/matheuss/google-translate-api/pull/27

[2017-06-27 20:56] #11 closed

[2017-06-28 00:00] techmexdev opened #28 "code: 'BAD_NETWORK'"
This is the code I'm running:
[code]

[2017-06-28 00:07] JukeboxRhino commented on #28
This will be fixed with a new npm release soon, it just hasn't been published yet. Stay updated for a new release.

[2017-06-28 00:07] #28 closed

[2017-06-28 00:46] matheuss commented on #28
https://github.com/matheuss/google-translate-api/releases/tag/2.3.0 🙏

[2017-06-28 00:46] matheuss commented on #11
https://github.com/matheuss/google-translate-api/releases/tag/2.3.0 🙏

[2017-07-05 18:35] jacksteamdev commented on #22
This looks like a Webpack error to me. Did you ever get it fixed?

[2017-07-19 21:28] mightytyphoon opened #29 "Number of characters per months ?"
Hi matheuss,

I would test it myself but is there a limitation of characters like with the API. (1 million, 2 millions... 500 millions ?)

Thanks a lot for your response.

Laurent Boukhadcha

[2017-07-19 21:29] JukeboxRhino commented on #29
Not sure about a character limit but you might get hit with the bot captcha
others and I are having

On Wed, Jul 19, 2017, 5:28 PM mightytyphoon <notifications@github.com>
wrote:

[2017-07-20 10:30] sumitgargnic commented on #10
+1

[2017-07-20 19:25] mightytyphoon commented on #29
Hi,

first, thanks a lot for the very fast answer !!

I think I can handle the bot captcha if it comes like every 10/20 translations. Are you experiencing something like this ?

I will give reviews about my journey with your script, I already used it for simple tests with nwjs + angular

To be more precise about my needs, if this interests you (otherwise stop reading now the huge text below :) ) I

[2017-07-21 08:39] JValck commented on #4
You cannot implement this for a browser.

Although it might seem possible with jQuery and then call Browserify, it's not possible.
You will run into a ```CORS``` error. Loading the translate page into an ```iframe``` to solve the ```CORS``` error and afterwards parse its contents isn't possible either, as Google doesn't allow you to embed translate into an ```iframe```.

[2017-08-01 23:11] maurocrmrc commented on #11
Hello everyone. I am trying to use the Translation API together with Google Cloud Functions from Firebase and the following error appears on the server console:

`
{ Error: getaddrinfo ENOTFOUND translate.google.com translate.google.com:443
    at /user_code/node_modules/google-translate-api/node_modules/google-translate-token/index.js:103:25
    at process._tickDomainCallback (internal/process/ne

[2017-08-01 23:39] maurocrmrc commented on #11
Hello everyone. How are you?

I'm trying to use the translation API together with the _Firebase Cloud Functions_ server, and the following error appeared in the console:

`
{Error: getaddrinfo ENOTFOUND translate.google.com translate.google.com:443
    Atus / geo
    At process._tickDomainCallback (internal / process / next_tick.js: 135: 7)
  Code: 'BAD_NETWORK',
  Message: 'getaddrinfo ENOTFOUND

[2017-08-04 02:03] matheuss commented on #11
@maurocrmrc `ENOTFOUND` means `translate.google.com` is not found on the DNS server that is being used. Given you're receiving that other message, looks like Firebase is blocking access to the internet because you didn't configure a billing account.

[2017-08-04 10:22] Prithivraj200 commented on #9
Hey guys,

     Any luck in finding solution ?

[2017-08-06 18:48] YamanSehzade commented on #9
I have not found a solution for a month.

[2017-08-06 21:21] YamanSehzade commented on #10
+1

[2017-08-17 14:47] guyjoules opened #32 "Getting an error from Ionic Angular"
Hi,
Trying to use the module from Ionic over Angular, I'm getting an error as in the link below.
Any ideas?

Cheers.

https://cdn-enterprise.discourse.org/ionicframework/uploads/default/original/3X/0/c/0c47de6f934ffce6fdb8b9f738e0a4cd87fe68b0.png

[2017-08-20 19:44] EternallLight commented on #32
Same issue when trying to import into React app. Works perfectly well if trying in node environment. Is it meant to work in browser at all?

[2017-08-21 06:38] ZulqarnainSyed opened #33 "call api from android"
i want to know if there is any way to call this API from android

[2017-08-21 15:40] dennislysenko commented on #32
Try my "fork" at https://www.npmjs.com/package/google-translate-api-without-node -- I've been successfully using this in a webpacked browser app without issues, uses jQuery for requests.

Ironically enough though, it started producing an error a little while back, maybe a few months ago. Perhaps I need to sync up with the main repo again?

Edit: I merged upstream and everything works fine now 👍

[2017-08-22 08:06] guyjoules commented on #32
Thanks deniiislysenko.
Tried it and now I get -

Tried from Chrome as well as from Cordova on IPad.

Any idea?

[2017-08-25 18:56] EternallLight commented on #32
Same issue here - since translate.google.com does not send CORS header, it won't work from any other domain.

[2017-08-25 19:23] dennislysenko commented on #32
I am using it in a chrome extension and I think there is a way to avoid
CORS issues with that. Not sure about your use case.

On Fri, Aug 25, 2017, 11:56 Andrey Gruniov <notifications@github.com> wrote:

[2017-08-25 19:43] EternallLight commented on #32
Not sure. I tried it a while ago with no success. As a quick workaround, I'm going to use this module in a small express app and serve the result to front end.

[2017-08-26 05:53] guyjoules commented on #32
If you install the CORS Chrome extension, it will work.
When deployed to mobile using cordova, it won't.

On Sat, Aug 26, 2017 at 2:43 AM, Andrey Gruniov <notifications@github.com>
wrote:

[2017-08-30 09:19] baptiste-mnh commented on #33
Hi,
I tried to create an Android API working the same way that this API.

The issue is that google find out the request is from a program :
`W/System.err: java.io.FileNotFoundException: https://ipv4.google.com/sorry/index?continue=https://translate.googleapis.com/translate_a/single...........`

When you click on the error link, this page appears
![screenshot](https://user-images.githubusercontent.

[2017-08-30 09:25] guyjoules commented on #33
This seems strange.
I'm using a Chrome CORS extension and it works no matter how many times I
try (simulated hundreds calls).
But from a mobile (Ionic cordova), it never works.
Seems that my problem is not the capcha but I don't know how to further
check it.

On Wed, Aug 30, 2017 at 4:19 PM, baptiste-mnh <notifications@github.com>
wrote:

[2017-09-09 17:03] brenopolanski commented on #32
I created a simple server with express using *google-translate-api*, so make a deploy on heroku, wedeploy, etc and solve the problem with `prototype` and `cors`. Here the project: https://github.com/brenopolanski/server-google-translate-api

[2017-09-09 17:05] brenopolanski commented on #33
I created a simple server with express using *google-translate-api*, so make a deploy on heroku, wedeploy, etc and solve the problem with `prototype` and `cors`. Here the project: https://github.com/brenopolanski/server-google-translate-api

[2017-09-12 11:32] shebinjoseph388 opened #34 "TypeError: fs$ReadStream is undefined"
TypeError: fs$ReadStream is undefined

[2017-09-12 19:51] rdhenderson commented on #34
I'm getting the same error trying to use this module with create-react-app.  From what I can tell, its a webpack issue based on how a library is being "required".  It can be worked around by ejecting, anyone have a notion on how to resolve without that?

<img width="557" alt="screen shot 2017-09-12 at 3 49 50 pm" src="https://user-images.githubusercontent.com/24326669/30345166-1bf2789e-97d2-11e7-8

[2017-09-22 16:56] anglil opened #35 "Any legal issue with the unlimited service?"

[2017-09-22 17:38] #35 closed, assigned to nobody

[2017-10-04 06:39] bahablgn commented on #34
For the browser support i have used Browserify to convert the code, as a result , the converted file translate.js its about 300 kb and when i use that ı got an error:

`Uncaught TypeError: Cannot read property 'prototype' of undefined
    at patch (translater.js:10974)
    at Object.<anonymous> (translater.js:10835)
    at Object.66../fs.js (translater.js:11072)
    at s (translater.js:1)
    at t

[2017-10-12 10:14] alesce commented on #10
+1 but let's make it angular 4

[2017-10-13 06:29] reactnative103 opened #36 "How to use with Titanium?"
Hi Team,

Could you please help me that how can I use Google API in mobile application development.

Please help me on this issue.

Thanks,
Hemant Solanki

[2017-10-17 03:29] anicache08 commented on #32
I want to implement it in my Ionic(v1) app. How can I manage to do that? any sample codes? or is it a normal http request?..

[2017-10-18 07:42] yoyhosoft opened #37 "How to return result from .then() function"
I try as below code, but don't work:

[code]

Result is:
[code]

Have any idea?

[2017-10-20 11:04] popo63301 opened #38 "Get multiple translations of a word?"
Is it possible to get multiple translation for one word as you can see on the interface ?
https://translate.google.fr/?hl=fr#id/en/baik .
You can see different translations for one word.

[2017-10-21 16:34] theGABS commented on #34
The same trouble!

[2017-10-21 21:04] #38 closed, assigned to nobody

[2017-10-21 21:06] popo63301 opened #39 "Empty array when I put translate into a function"
Here is my code:

[code]
And here is what I get:
[[["",""]],null,"fr",null,null,null,0,null,[["fr"],null,[0],["fr"]]]

But when I call "translate" outside this works perfectly.
Anyone know how I can handle this?

[2017-10-24 05:47] yoyhosoft commented on #39
@popo63301
This my help
[code]

You **must** push all main process code inside _**async mainProcess()**_ function.

[2017-10-24 08:45] popo63301 commented on #39
Thanks!  I just found a solution using Promise.all.

[2017-10-24 08:45] #39 closed, assigned to nobody

[2017-10-24 08:47] popo63301 commented on #37
You need to wait until Promise is solved. If you have an array of Promise, use Promise.all(your array).then() . If you have only one value, you'll probably go for a Promise.resolve(your value).

Read mozilla doc, it has several examples:
https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Promise/resolve

[2017-10-24 08:53] yoyhosoft commented on #37
Hi,
I just code like below:

[2017-10-24 09:10] yoyhosoft commented on #37
Hi,
I just code like below, because I need to translate line by line.
[code]

PS. Event I use Promise function It's not work as code below.
[code]

[2017-10-24 09:16] popo63301 commented on #37
My advice put every line in a array. Then map the array to make promise for each line. Then use promise all to get your resolved array of Promise and manipulate it.

It will look like this:

[code]

[2017-10-24 09:20] popo63301 commented on #37
Use this for the translateSentence:

[code]

[2017-10-24 10:05] yoyhosoft commented on #37
Thanks

[2017-10-24 10:16] popo63301 commented on #37
Welcome !

[2017-10-26 23:13] mariomixtegapach opened #40 "How do you do that? Is this legal?"
Sorry for be a gossip, but, how??
Don't misunderstandme, I admire you for create this awsome lib, but I would like to know your secret, cuz this is a non-free service by google.
Thanks for the lib by the way.  :D

[2017-11-01 23:00] tomsoderlund opened #41 "What’s the language code for Chinese (not zh?)"
`zh` is not working, nor is `zh-Hant`.

[2017-11-13 00:05] sNaticY commented on #41
zh-cn

[2017-11-13 04:54] AndySoHotRightNow opened #42 "Advice on how to import for React"
Hi,

In my React project, spun up with Create React App, I have done:

`npm install --save google-translate-api`

But when I try to:

`import Translate from 'google-translate-api'`

I get the following error:

`TypeError: Cannot read property 'prototype' of undefined`

Any idea on how to solve or what I could be doing wrong? Thank you.

[2017-11-18 14:34] elessariel commented on #10
+1

[2017-11-23 20:02] Angelk90 opened #43 "unable to resolve module "querystring""
@matheuss: I have installed the latest version, I did as the example but I get the following error:
![screenshot_20171123-205527 1](https://user-images.githubusercontent.com/20476002/33187327-5d0fdcd4-d091-11e7-99ea-dbd36c5fd245.jpg)

[2017-12-02 10:00] Angelk90 commented on #43
@matheuss : In the package.json file, dependencies lack querystring, it would be very useful to add it.

[2017-12-02 18:05] panfanky opened #44 "How to use in website?"
Hi,
anyone knows how to implement it on a website, for instance as a jquery ajax call?
thanks!

[2017-12-06 14:52] Mrpraveen opened #45 "can one use this in Omegat ?"

[2017-12-06 14:52] Mrpraveen opened #46 "can one use this in Omegat ?"
I would like to kno w can one use this in Omegat,
If yes . how?

[2017-12-08 07:58] darvinsee opened #47 "Error:connect etimedout"
code:'BAD NETWORK'.
![default](https://user-images.githubusercontent.com/34233188/33756450-90a9cbe0-dc30-11e7-83c5-29d784540f87.png)

please tell me how can i solve this problem?

[2017-12-08 10:05] amrit2022 opened #48 "language code for Punjabi is 'pa' whereas in language.js it is 'ma'"
If we try to use 'pa' ,it throws error language is not supported.
If I change it in  language.js then it works fine.

[2017-12-18 16:54] saadb commented on #42
I think this module runs on server only.  I have been trying to use it with react
If you know your way in Javascript and Node.js you might want to try to use browserify
explained as an example at http://www.bradoncode.com/tutorials/browserify-tutorial-node-js/
Also explore the option of server side rendering (SSR) as in universal web app
If you do it, please share with us mortals!

[2017-12-23 14:45] 1c7 opened #49 "Not working in Electron.js？(it suppose)"
it doesn't send any HTTP request at all.
no return error or anything, just silent.

using macOS, Electron v1.7.9

[2017-12-23 14:45] 1c7 commented on #49
seem like no one maintaining this? last commit is June 2017, now is Dec 2017

[2018-01-04 05:04] skygragon opened #50 "Different BAD_NETWORK issue?"
node: 8.1.4
npm: 5.3.0

[code]

[2018-01-14 16:43] 64BitUniverse opened #51 "safe-eval Sandbox Escaping"
Is this going to be fixed? It is easy for people to exploit this with:

var safeEval = require('safe-eval');
safeEval("this.constructor.constructor('return process')().exit()");

Source: https://snyk.io/vuln/npm:safe-eval:20170830

[2018-01-16 11:01] mtuchi opened #52 "Offline support"
Is there a way this could work offline ?

[2018-01-17 08:05] lasuax commented on #52
If you move the servers into your pocket.

[2018-01-17 10:08] mtuchi commented on #52
@lasuax
i know at the moment google support offline translation by downloading the language that you want to work with if you don't have internet access,

Was wondering if there is a similar solution or implementation that could work with desktop application.

[2018-01-18 13:46] ReuK212 commented on #40
Same here,
I can't shake that it's free and unlimited (cf [google pricing](https://cloud.google.com/translate/pricing) ), even if it says it uses the same servers...
Any explantation ?

[2018-01-23 15:10] mariomixtegapach commented on #40
I got it!
It's like a tricky method. He uses the same flow than the public translate site, so it's just a smart (and free) way of using they own security stuff.
So cool!

[2018-01-24 12:31] fjlogrono opened #54 "Makes my website stop working"
How can I delete the issue?
Thank you

[2018-01-24 15:48] sinzen opened #55 "Error on request.."
Hi Matheuss,

I have this error on request to google translate without api key,

what does it mean?:

`{ Error: socket hang up
    at TLSSocket.onHangUp (_tls_wrap.js:1124:19)
    at TLSSocket.g (events.js:292:16)
    at emitNone (events.js:91:20)
    at TLSSocket.emit (events.js:185:7)
    at endReadableNT (_stream_readable.js:974:12)
    at _combinedTickCallback (internal/process/next_tick.js:80

[2018-01-24 17:49] #54 closed, assigned to nobody

[2018-02-15 18:30] luckykumardev commented on #52
@mtuchi have you find anything?

[2018-02-15 19:19] mtuchi commented on #52
@luckykumardev not yet ?

[2018-02-15 19:37] luckykumardev commented on #52
@mtuchi have you tried socket.io?

[2018-02-15 22:36] mtuchi commented on #52
@luckykumardev
i need more info, you mean for offline support for google-translate-api ?
I have use socket.io on a chat application once

[2018-02-21 05:44] akshayseth opened #56 "Google translate in angular 5 not working"
I want to add multi language support in my website.However most of the data is coming from API so I cant make a JSON of it. I am using [Google Translate](https://www.w3schools.com/howto/howto_google_translate.asp) but it is not working. Can you please share steps as how to inject it in my angular 5 application? Much thanks in advance :)

[2018-02-24 18:04] luckykumardev commented on #52
@mtuchi make a node server and use google-translate-api and use socket.io to communicate that server with client

[2018-02-28 04:55] oktommy opened #57 "Translate content length limitation"
In source code will pass token via the following url:
https://translate.google.com/translate_a/single? + querystring.stringify(data);
As i know the query string in URL has the length limit, so what's translation content length limit for this api?

[2018-03-03 19:41] iamanam commented on #57
the limitation should be clearly stated.

[2018-03-05 23:08] rraallvv opened #58 "A way to get the definition?"
At the official site they show the definition for each language, is there a way to get those too? Thanks.

[2018-03-06 16:56] lauraiurb commented on #10
+1

[2018-03-08 21:58] bary12 opened #59 "Hebrew language code should be 'he' instead of 'iw'"
Why is it 'iw'? I am a native Hebrew speaker and never seen it like that before. 'he' is considered the standard.

[2018-03-19 02:58] globalcitizen opened #60 "China doesn't work: Default URL banned, no proxy support, alternate URL not working"
In China the regular page is banned, normally we have  to use **translate.google.cn** instead.

__No URL spec option__
There doesn't seem to be an option to redirect the queries to a new URL (China's is probably the only meaningful one out there).

I tried manually modifying the URL in my version of the library but it didn't work. Unfamiliar with node debugging so unsure how to get low level HTTP

[2018-03-28 08:28] Viiinc commented on #34
Same problem here, any update?

[2018-04-03 19:51] Yamboy1 commented on #51
What does this have to do with google-translate-api??

[2018-04-04 11:09] Sandeeprao69 opened #62 "Punjabi lang code has changed now"
In your code it is "ma" but actual is "pa"

[2018-04-07 17:48] neran27 opened #63 "Error while installing the js file"
Hi Guys

I am facing the below issue when running the "npm install --save google-translate-api" command

npm ERR! Refusing to install google-translate-api as a dependency of itself

Can any  one help me in sorting my issue

[2018-04-07 23:15] neran27 opened #64 "Can't translate for Hindi Language"
var toLang = 'hi';
translate(engText, {from:'en',to: toLang}).then(resp => {
		var outStr = resp.text;
		console.log("output - 1: " +outStr);
		}).catch(err => {
			console.error(err);
	});

[2018-04-07 23:37] neran27 commented on #63
Working.

[2018-04-07 23:37] #63 closed, assigned to nobody

[2018-04-23 19:36] un33k commented on #59
having both doesn't hurt at all

[2018-04-24 02:41] ghost opened #65 "invalid function"
TypeError: a.charCodeAt is not a function

    at sM (/app/node_modules/google-translate-token/index.js:33:19)

    at /app/node_modules/google-translate-token/index.js:114:18

    at <anonymous>

    at process._tickCallback (internal/process/next_tick.js:188:7)

fixed

[2018-04-26 01:19] #65 closed, assigned to nobody

[2018-05-09 06:17] s-triar commented on #22
i got that error too
mine is like this
`ERROR in ./node_modules/got/index.js
Module not found: Error: Can't resolve './package' in 'D:\MyProject\stkiNew\node_modules\got'
ERROR in ./node_modules/osenv/osenv.js
Module not found: Error: Can't resolve 'child_process' in 'D:\MyProject\stkiNew\node_modules\osenv'
ERROR in ./node_modules/graceful-fs/polyfills.js
Module not found: Error: Can't resolve 'c

[2018-05-12 14:17] mack-wang commented on #60
you can change the request url `translate.google.com` to `translate.google.cn`. or you can install the package google-translate-api-cn by `npm install --save google-translate-api-cn`.

[2018-05-15 10:14] cnskyboy88 opened #66 "Why it's unlimited?"
I estimate we will invoke 100K times and totally 34 million characters per month, does this support?

[2018-05-17 10:11] iamanam opened #67 "why i am getting 503?"
It works only for first few requests. After many requests it rejects and shows 503 Error. Did they implement any rate limiting?

Please check it out.

{ HTTPError: Response code 503 (Service Unavailable)
   at stream.catch.then.data (/index.js:123:13)
     at <anonymous>
    at process._tickCallback (internal/process/next_tick.js:160:7)
..................

[2018-05-17 14:04] hdatteln commented on #67
I am seeing similar issues today; used to work fine, but now after a few requests, i am getting a 'Bad Request' error, and when debugging more, i see that it's rate limiting

[2018-05-17 16:17] iamanam commented on #67
@hdatteln please let me know if you have found anything alternative? Do you have any idea so far?

[2018-05-18 13:16] hdatteln commented on #67
I added a few logging statements and then saw a 'Our systems have detected unusual traffic from your computer network;' & a reCaptcha check as a response message to the google api call that this google-translate-api module makes.
For my purposes (language detection) I stopped using the google-translate-api module, and switched to using 'detectlanguage' module.

[2018-05-20 16:11] Sandeeprao69 commented on #67
Hey did you find any solution for this?

[2018-05-22 19:59] iamanam commented on #67
i am using a python version, it works fine on the same server. The generated token is same, url params and generated Url is also almost same.

[code]
and this node version

[code]

How can python one works when the nodejs can't? Any idea?

[2018-05-23 02:45] 0xdeade1f commented on #67
@iamanam can you show the result of the complete request, headers and all?

[2018-05-23 13:59] KeevanDance commented on #67
What do you guys think it is rate limited at?

I am using this package on a Heroku server and just resetting the server fixes my issue... What do you guys think?

[2018-05-23 22:39] iamanam commented on #67
@0xdeade1f  here is the headers and url from python version

**response header:**

{'Connection': 'keep-alive', 'Cookie': 'NID=130=B2U7oyM_HaGncf7MM1FVZ6yFIiiByM12hCnSm5KkdCm1JKHGbOt-dI6w9yBAl7MXQWw_dRwtlHBv4mgkp5531p_TcPhEwQ91dzk0O4CKL4PEDD-pPLmK9qm_Y3TPlKni', 'Accept-Encoding': 'gzip, deflate', 'Accept': '*/*', 'User-Agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64)'}

**Request header:**

{'X-

[2018-05-24 00:22] voidpls opened #68 "No support for Punjabi language?"
When attempting to translate to Punjabi, there's no error, yet it returns the English text inputted.
<img width="481" alt="vmau6 1" src="https://user-images.githubusercontent.com/28279553/40457943-40709dc4-5ec7-11e8-80bc-5e91185105b4.png">
Using Punjabi's ISO code (pa), on the other hand, returns an error.
<img width="482" alt="qdjzi 1" src="https://user-images.githubusercontent.com/28279553/40457

[2018-05-24 23:59] brolnickij commented on #68
@voidpls Hi! Use `'ma'`
`translate('Hello World', {from: 'en', to: 'ma'});`

https://github.com/matheuss/google-translate-api/blob/master/languages.js#L84

[2018-05-25 08:03] aattoade commented on #67
This is a warning that Google is cracking down on this repo and many others that are similar.

In case you have not noticed, it uses a token hack to generate a unique token every hour, this is likely to be illegal and could get you in trouble.

Do not use this for production projects - you can see for yourself here:
https://github.com/matheuss/google-translate-token

[2018-05-25 08:07] aattoade commented on #66
Your server will probably get blocked by Google

[2018-05-25 15:35] nvtuan305 commented on #66
I have the same question. As I know, we will be charged for the Translate API.

[2018-05-26 17:37] voidpls commented on #68
@gamexxx

languages.js

However, Punjabi's ISO 639-1 Code is `'pa'`

[loc.gov](https://www.loc.gov/standards/iso639-2/php/langcodes_name.php?iso_639_1=pa):
<img width="382" alt="hqgcd 1" src="https://user-images.githubusercontent.com/28279553/40578860-e1333fcc-60e9-11e8-9f5f-9d4354d6a337.png">

[Wikipedia](https://en.wikipedia.org/wiki/List_of_ISO_639-1_codes):
<img width="429" alt="21dwc 1" src="

[2018-06-04 14:39] kyotin opened #70 "BAD_REQUEST response"
When our app faced with BAD_REQUEST, it won't be back to normal.
[code]
Do we have limit on number of requests per second? Our app was working fine till it face with above error.

[2018-06-05 15:41] HigisBig commented on #70
Yeah I've recently been getting this issue as well

[2018-06-06 04:17] easonlovejiven commented on #70
Yeah I've recently been getting this issue as well

[2018-06-07 14:05] wowdyaln commented on #70
[code]

[2018-06-07 15:40] tonistair commented on #70
same here!

[2018-06-08 09:13] nadalizadeh commented on #70
The actual response code from google endpoint is
503 (Service Unavailable)

Apparantly they are now checking traffic rate and redirecting to:
[code]

Which Says:
Our systems have detected unusual traffic from your computer network. Please try your request again later.

[2018-06-08 11:03] nadalizadeh commented on #70
Temporary Solution:

1. Setup a TOR HTTP Proxy:
https://www.marcus-povey.co.uk/2016/03/24/using-tor-as-a-http-proxy/
2. Use `tunnel` module from node packages to pass translate traffic from tor
[code]
3. Change tor IP address periodically

[2018-06-28 07:26] SamaludheenCignes commented on #9
did anyone get a solution for this?

[2018-06-28 08:52] SamaludheenCignes opened #72 "Is there a way to use this with ionic application?"
When using this in ionic

Error occurs

`Uncaught TypeError: Cannot read property 'prototype' of undefined
    at patch (graceful-fs.js:166)
    at Object.<anonymous> (graceful-fs.js:27)
    at Object.<anonymous> (graceful-fs.js:262)
    at __webpack_require__ (bootstrap 3e984ef45ef4a5835191:54)
    at Object.<anonymous> (index.js:3)
    at __webpack_require__ (bootstrap 3e984ef45ef4a5835191:54)

[2018-06-28 09:34] cancamilo commented on #68
I have noticed the same issue. It works replacing with "pa" in langauges file

[2018-06-29 18:39] francescotaioli commented on #72
same error on ionic app

[2018-07-11 18:04] #43 closed, assigned to nobody

[2018-07-15 08:09] davidrocket commented on #70
@nadalizadeh Your solution sounds great! But how can I force all of the translateService's traffic to go through the tor-proxy? Per request is yes! But the translateService has its own implementation of firing requests at the google-api endpoint! It would be nice, if we can have some kind of wrapper! Do you have any hint?

[2018-07-16 00:36] Tahywoh commented on #37
Good morning to you. It is still not working for me o

[2018-07-23 06:02] mohasin69 commented on #70
Same issues for me too..
How can I set a TOR proxy for a hosted bot.? LOL

[2018-07-27 02:55] hnguyen48206 commented on #72
Anything new on this matter? Now I'm facing the same problem too.

[2018-08-02 21:12] cocoacorgi commented on #70
Getting the same issues

[2018-08-03 19:45] n8x0b7T opened #73 "Is there a way to use it with Browserify"
does it have to run on server-side or could it run on the browser with browserify?

[2018-08-06 19:24] n8x0b7T commented on #73
I found a way to run this without your own dedicated node server.

it works with runkit.com[https://runkit.com/](url)

here is the code i used to do it

const translate = require("google-translate-api");

var express = require('express');
var app = express();

var cors = require('cors');

app.use(cors());

var translater = function(translateThis, mylanguage){
    return(
        new Promise(functi

[2018-08-06 19:24] n8x0b7T commented on #73
[](url)

[2018-08-06 19:24] #73 closed, assigned to nobody

[2018-08-11 17:30] Bebbssos opened #75 "Use with C#?"
Is it possible to make this api work with .net c#?

[2018-08-16 22:10] mvolkmann commented on #51
Supposedly version 0.4.1 of safe-eval fixes this.
Could you test this with that version and push a new version of google-translate-api if it works?
This is causing scary warnings every time google-translate-api is installed.

[2018-08-19 17:46] Enfernuz commented on #34
It has to do with the `configstore` module, which is used by the `google-translate-token` module to store the token. `configstore` uses `graceful-fs` module that is not compatible with **browserify** (see https://stackoverflow.com/a/42012528/2031954).
I could get away with a hack that involved editing the source code of `google-translate-token` to make it use another library for token persistence

[2018-08-20 07:08] vishwaa17 commented on #72
Any updates ? I am also facing the same issue.

[2018-08-20 07:30] hnguyen48206 commented on #72
It seems like this plugin is no longer supported and I suggest you to try this post: https://ctrlq.org/code/19909-google-translate-api
Just a simple API call, no sign-up for GG Translate API key required cause it uses the GG web translate instead.

[2018-08-22 05:50] gucong3000 commented on #41
https://github.com/matheuss/google-translate-api/blob/777d7db94f82ec402e7758af1549818c07d55747/languages.js#L25

[2018-08-27 21:00] Illizion commented on #51
Or just _**NOT USE SAFE-EVAL AT ALL**_?

[2018-08-27 21:03] Illizion commented on #51
@matheuss that's always an option, that i think you should consider, since it provides nothing of use to the code, and creates a **MAJOR** security vulnerability. I would recommend you take action quickly.

[2018-08-29 20:33] codenuts42 commented on #51
Pull request #71 ("Use JSON.parse instead of safeEval") will solve this problem!

[2018-09-03 14:45] jasonkhanlar commented on #62
Also, It seems that translating from English to Punjabi does not work, and returns an English translation. I am not sure why.

await translate("Hello everyone! Now English messages will be translated into the language of the channel!", {from: 'en', to: 'punjabi'}).then(res => { ... }).catch(err => { console.error(err); });

// res.text shows as 'Hello everyone! Now English messages will be transla

[2018-09-06 03:30] hronro opened #77 "Support Typescript"
It would be very nice if could add typescript declarations.

[2018-09-11 01:30] hooper-hc commented on #70
{ Error
    at /Users/hucheng/hooper/bytedance/project/people-fe/recruitment-web/node_modules/google-translate-api/index.js:105:17
    at process._tickCallback (internal/process/next_tick.js:68:7) code: 'BAD_REQUEST' }

[2018-09-18 09:16] genostack commented on #70
this package uses got  to request google translate:
//add this to index.js
var tunnel = require('tunnel');
var agent = tunnel.httpsOverHttp({
  proxy: {
    host: 'localhost',
    port: 8123
  }
});
//change index.js:76
got(url,agent)
//add this in tor config
MaxCircuitDirtiness 10

[2018-09-20 09:28] jahglow commented on #70
would you consider adding a PR for that?

[2018-09-20 09:47] genostack commented on #70
we need test this first.As in China, I found this solution not work.

[2018-09-23 12:59] wadie opened #78 "critical vurlnability"
<img width="694" alt="screen shot 2018-09-23 at 14 58 04" src="https://user-images.githubusercontent.com/1206307/45928263-1a4f8a80-bf41-11e8-891f-a633a4f72b09.png">

Obviously I'm not the first to notice this, so my question to those who have already worked with this package: how safe is it to use `google-translate-api` ?

[2018-09-23 15:32] nvtuan305 commented on #70
Getting same issue.

[2018-09-23 16:18] seia-soto commented on #78
I don’t know the specific solution but update the dependence yourself to make it latest.

[2018-09-23 18:16] wadie commented on #78
Which dependency ? it says no patch available

[2018-09-23 18:19] seia-soto commented on #78
I updated the module which in node_modules/google-translate-api myself.

Below is from NPM

safe-eval 0.3.0 and below are affected by a sandbox breakout vulnerability - NSP 337, CVE-2017-16088.

Version 0.4.0 fixes this vulnerability. It is highly recommended to upgrade to the latest version if you are using safe-eval for executing code not generated by yourself. Thanks @kauegimenes for the patch.

[2018-09-23 20:56] #78 closed, assigned to nobody

[2018-09-24 19:36] extensionsapp commented on #11
Hey.
Google tightened the restrictions and now from a single IP address can make very few queries.
I added the use of a proxy server (IPv4, IPv6). Maybe my solution will help you.

https://github.com/extensionsapp/translatte

[code]

[2018-09-24 19:36] extensionsapp commented on #70
Hey.
Google tightened the restrictions and now from a single IP address can make very few queries.
I added the use of a proxy server (IPv4, IPv6). Maybe my solution will help you.

https://github.com/extensionsapp/translatte

[code]

[2018-09-24 19:36] extensionsapp commented on #66
Hey.
Google tightened the restrictions and now from a single IP address can make very few queries.
I added the use of a proxy server (IPv4, IPv6). Maybe my solution will help you.

https://github.com/extensionsapp/translatte

[code]

[2018-09-24 19:36] extensionsapp commented on #55
Hey.
Google tightened the restrictions and now from a single IP address can make very few queries.
I added the use of a proxy server (IPv4, IPv6). Maybe my solution will help you.

https://github.com/extensionsapp/translatte

[code]

[2018-09-24 19:36] extensionsapp commented on #50
Hey.
Google tightened the restrictions and now from a single IP address can make very few queries.
I added the use of a proxy server (IPv4, IPv6). Maybe my solution will help you.

https://github.com/extensionsapp/translatte

[code]

[2018-09-24 19:37] extensionsapp commented on #28
Hey.
Google tightened the restrictions and now from a single IP address can make very few queries.
I added the use of a proxy server (IPv4, IPv6). Maybe my solution will help you.

https://github.com/extensionsapp/translatte

[code]

[2018-09-26 12:05] Tahakun commented on #70
I don't know why but on my ubuntu laptop the API works with tor, but when on Debian VPS I get bad request, I have the same config the 2 machines,
do you guys have any idea what might cause the problem?

[2018-09-29 19:16] nfriend opened #79 "Response code 403 (Forbidden)"
I recently began receiving 403 errors when using `google-translate-api`.  Digging in to the source a bit, this is the error that is being thrown:

[code]

Based on [this comment](https://github.com/matheuss/google-translate-api/issues/28#issuecomment-424098384), it seems that Google may have added in some rate limiting that may affect this module.  Can you verify if this is the root cause?

[2018-09-29 22:21] snowcxt commented on #79
I changed the line 35 to `client: 'gtx',` instead of `client: 't',` and it's working for me now.

[2018-09-29 22:54] nfriend commented on #79
@snowcxt  - you're right, that change worked for me as well.  Do you know why this fixes the issue?

[2018-09-30 21:37] thejeff77 opened #81 "Allow 'format' queryparam to be passed in to Google Translate API"
Allow the 'format' query parameter string so that the user can pass in html to the google translate API.

[2018-10-01 18:10] vitalets commented on #79
I was also getting 403 but for another reason.
It was caused by getting incorrect token in dependency module [google-translate-token](https://github.com/matheuss/google-translate-token), see [#12](https://github.com/matheuss/google-translate-token/issues/12) (there is already working pr).

The url above also has incorrect token: `...&tk=801225.801225` (notice equal numbers around dot).

Now the mo

[2018-10-03 06:51] lokeshjain09 commented on #70
Tried this but ended up in getting below error -
"SyntaxError: Unexpected token ..." at line no "translatte/node_modules/got/source/create.js:49"

I just did 'npm install translatte' and tried your example. Do I need to do anything else?

[2018-10-04 09:28] vitalets commented on #70
It seems you are using older version of node.js than required for package. Please check `node -v`.

[2018-10-04 09:46] lokeshjain09 commented on #70
I am using v8.4.0 node version. And now it is throwing me below error -
Error at "/home/ubuntu/workspace/Hadoop/node_modules/translatte/index.js:141:17". Code: 'BAD_REQUEST'

[2018-10-04 16:02] ghost commented on #34
same problem

[2018-10-08 05:49] snowcxt commented on #79
So, what's the best practice? Will somebody fix this bug?

[2018-10-08 13:52] vitalets commented on #79
I forked [google-translate-api](https://github.com/vitalets/google-translate-api) and [google-translate-token](https://github.com/vitalets/google-translate-token) and made it work.

You can try by installing:
[code]
**UPDATE**:
Published to npm as [@vitalets/google-translate-api](https://www.npmjs.com/package/@vitalets/google-translate-api):
[code]
See also https://github.com/matheuss/google-trans

[2018-10-09 09:19] Fausto95 commented on #79
Worked!

[2018-10-09 09:21] Fausto95 commented on #79
Could you publish it to npm? @vitalets

[2018-10-09 10:12] vitalets commented on #79
I can make a scoped package, but frankly speaking I'm not a fan of many similar packages in npm.

Hi @matheuss, could you kindly have a look on https://github.com/matheuss/google-translate-token/issues/12 and merge it? As it blocks the functionality of both packages.
Thanks in advance!

[2018-10-09 10:37] dalbodeule commented on #77
I also expect the typescript type declaration file to be included. I need to use Google Translate, but I can not see any modules that support Typescript.

[2018-10-10 10:12] maple3142 commented on #77
I have added `@types/google-translate-api` into DefinitelyTyped repo a month ago, so `npm i -S @types/google-translate-api` should work.

[2018-10-11 17:12] birkhofflee commented on #79
I have the same issue, using @snowcxt's solution worked for me.

[2018-10-12 16:58] snowcxt commented on #79
So, we don't need the google-translate-token at all?

[2018-10-22 15:16] abrakadobr commented on #70
may be google doing some updates on translator and current interaction become outdated?
node 10, just installed and got BAD_REQUEST from begining. check few vpns (my private servers in different europe datacenters) to change public ip, but same result.

[2018-10-22 18:50] artiberde27 opened #83 "How to call this API in Jquery or python"
We are working Django project.  How to call this API in Jquery or python?

[2018-10-25 12:28] sadra commented on #70
Same here, I received "BAD_REQUEST" error, What should I do?

[2018-10-26 13:51] urPlaceOrMine commented on #70
I am using this for two BoTs  running under Windows.  I setup a Ubuntu v18 box yesterday with NodeJs. If I Stop the Windows BoTs and move / start them on the Ubuntu computer I receive bad request.  I can move the BoT back to Windows and it works fine.
Same public IP Ipv4 address for both computers.

[2018-10-26 17:02] sadra commented on #79
Ah God, finally worked!   🤦‍♂️

[2018-10-30 11:45] vitalets commented on #70
Try [this solution](https://github.com/matheuss/google-translate-api/issues/79#issuecomment-427841889) from another issue. Maybe the reason of BAD_REQUEST is the same.

[2018-11-01 21:19] AyoLaja commented on #34
Facing the same problem, was anyone able to get around it?

[2018-11-02 20:08] jochemstoel commented on #79
This is the solution to described problem. Hooray this guy @snowcxt .

[2018-11-03 16:21] seia-soto commented on #83
*Not official reply*

First you can access this in javascript by using webpack but there isn't any guides or references for this project, so you need to build your own settings to get webpack build.

Or maybe making an api server for this and migrate it into your service can be possible.

Python: Not available.

You cannot run this on Python by native. I don't have any experiences of Python, but I

[2018-11-03 16:21] seia-soto commented on #75
Refer: [this #83](https://github.com/matheuss/google-translate-api/issues/83)

[2018-11-04 02:50] maple3142 commented on #83
Use a python version instead?
https://pypi.org/project/googletrans/

As for jquery, you cannot use it directly in browser due to CORS.

[2018-11-05 07:40] jalMogo commented on #81
I am not familiar with the google translate API, but I was able to pass raw HTML to the translate api and it seems to work fine:

[code]

[code]
Was there a more specific issue you were having with passing in html?

[2018-11-08 23:37] kibibyte7 opened #84 "Error"
i make a command translate for my discord bot but i have this error when the command run :
(node:13004) UnhandledPromiseRejectionWarning: Error

[2018-11-09 05:41] lloydaf commented on #84
Can you catch the error and try and log it?

[2018-11-09 07:48] kibibyte7 commented on #84
I still have the error even if I put a catch and log it

[2018-11-09 07:52] kibibyte7 commented on #84
(node:4020) UnhandledPromiseRejectionWarning: Error
    at c:\Users\JustMe\Desktop\7orNad0Bot-master\node_modules\google-translate-api\index.js:105:17
    at process._tickCallback (internal/process/next_tick.js:68:7)
(node:4020) UnhandledPromiseRejectionWarning: Unhandled promise rejection. This error originated either by throwing inside of an async function without a catch block, or by rejecting

[2018-11-10 09:29] Foddy commented on #84
I get the exact same error :S

[2018-11-10 19:17] thejeff77 commented on #81
Forgive me, but you're answering issues for a library which talks to the Google Translate API but you have no familiarity with it? That is interesting.

The translate API is documented publicly here:

https://cloud.google.com/translate/docs/reference/translate

From the docs linked to above:

[code]

It seems one of the things that is missing from this library to be able to manually specify in the

[2018-11-10 19:24] thejeff77 commented on #83
I recommend you take a look at the google translate documentation for client libraries.

https://cloud.google.com/translate/docs/reference/libraries

If you do not wish to use a library, google translate has a standard HTTP API/service you can interact with. For python, you'll want to import the "requests" library and make calls according to the API specs for the service here: https://cloud.google

[2018-11-10 19:25] thejeff77 commented on #84
What version of npm and node are you using?

[2018-11-10 19:45] Foddy commented on #84
I am facing this issue with NodeJS v11.1 and NPM v6.4.1

[2018-11-11 20:36] kibibyte7 commented on #84
node v10.11.0 npm v6.41

[2018-11-16 20:48] dmitriyK1 commented on #84
I'm getting such error:
[code]

[2018-11-19 07:57] vreans08 opened #85 "503 (SERVICE UNAVAILABLE)"
name:"HTTPError"
stack:"HTTPError\n    at translate (C:\Users\kannanv\Downloads\mean-stack-angular-6-part-4-master\mean-stack-angular-6-part-4-master\backend\node_modules\@k3rn31p4nic\google-translate-api\src\index.js:143:19)\n    at <anonymous>\n    at process._tickDomainCallback (internal/process/next_tick.js:228:7)"
statusCode:503
statusMessage:"Service Unavailable"

[2018-11-21 18:33] wolfgang42 commented on #85
This appears to be the same error as #84.

[2018-11-22 22:15] macano13 opened #86 "Install it on website?"
Hi, Here is the noob question but please hep me in start just . How can I install this script on my website or VPS? Please help me , thank you.

[2018-11-24 22:15] ManGoatPig commented on #77
Ran the following:
npm install --save google-translate-api
npm i -S @types/google-translate-api

and if fails to compile with the below errors. So I don't think it works with typescript

ERROR in ./node_modules/got/index.js
Module not found: Error: Can't resolve './package' in 'C:\Users\round\Documents\machineTranslateSecondTry\node_modules\got'
ERROR in ./node_modules/osenv/osenv.js
Module not fo

[2018-11-24 22:18] ManGoatPig commented on #56
I tried doing this on my own and I'm getting some errors...

ERROR in ./node_modules/got/index.js
Module not found: Error: Can't resolve './package' in 'C:\Users\round\Documents\machineTranslateSecondTry\node_modules\got'
ERROR in ./node_modules/osenv/osenv.js
Module not found: Error: Can't resolve 'child_process' in 'C:\Users\round\Documents\machineTranslateSecondTry\node_modules\osenv'
ERROR in

[2018-11-25 23:44] songkeys commented on #79
Thanks a lot. You saved me. Just not sure how long will this trick work...
How did you find this btw?

[2018-11-26 07:14] lloydaf commented on #56
@thavus can you describe the steps you took to use `google-translate-api`?

[2018-11-29 07:07] martin-matj commented on #70
Me too. and is this issue solved?

[2018-11-29 07:42] martin-matj commented on #79
unfortunately,  still not work...

[2018-11-29 14:28] urPlaceOrMine commented on #70
That worked perfectly.  Thank you

[2018-11-29 19:39] AlooAkbar commented on #79
@vitalets your solution is no longer working for me. I forked [google-translate-api](https://github.com/vitalets/google-translate-api) as well and edited index.js line 35 as suggested, from `client: 't',` to `client: 'gtx',`. That did the trick.
Hopefully the npm package will be fixed soon, but until then if you want you can just add `"google-translate-api": "AlooAkbar/google-translate-api",` to y

[2018-11-30 10:53] P0oOOOo0YA commented on #79
@snowcxt  thanks. Changing `client` from `client: 't'` to `client: 'gtx'` did the trick. Is there any way to get the term pronunciation (in the target language) as well?

[2018-11-30 11:28] P0oOOOo0YA commented on #79
@vitalets i rewrited your token repo in typescript and only replaced `got` with `fetch` and `configstore` with its electron alternative nothing more but i got an incorrect token again ` {name: "tk", value: "38379.38379"}`.

[2018-12-01 11:02] vitalets commented on #79
@P0oOOOo0YA I will re-check. Thanks!

[2018-12-01 14:02] vitalets commented on #79
I've published to npm working scoped package [@vitalets/google-translate-api](https://www.npmjs.com/package/@vitalets/google-translate-api):
[code]
After install don't forget to use scope in `require`:
[code]
Also I've added `client` parameter to be able to set `client: 'gtx'` instead of `client: 't'`:
[code]

[2018-12-01 18:04] Cool-Programmer commented on #84
Hi everyone. If you're having bad request errors like me, use [https://github.com/k3rn31p4nic/google-translate-api](https://github.com/k3rn31p4nic/google-translate-api) module (identical to this one in terms of functionality).

[2018-12-12 07:37] rajat-jain9 commented on #43
I have developed an android mobile app using react-native. My native language for the app is English but I want to make it available in Mandarin Chinese also. For this I'm using google-translate-api but While importing google-translate-api, getting an error:-

Error: Unable to resolve module "querystring" from "...". Module "querystring" does not exist in the Haste module map.

[2018-12-12 09:21] maple3142 commented on #43
I haven't used RN before, but I know that RN doesn't have some node.js builtin modules such as `querystring`,`http`.
Perhaps you need to map some compatible module in place of `querystring`.

[2018-12-28 10:19] merrysabreezy opened #89 "TypeError: Cannot read property 'toString' of undefined"
![screenshot 162](https://user-images.githubusercontent.com/40047144/50512459-1db35e80-0aba-11e9-83dd-403d8cc950b2.png)
![screenshot 163](https://user-images.githubusercontent.com/40047144/50512461-2146e580-0aba-11e9-9624-982c2e8b0f63.jpg)

How to solve this problem in react-native?

[2019-01-01 23:30] jfoclpf opened #90 "npm audit vulnerability"
Just FIY

[code]

Can you avoid using safe-eval at index.js, line 73?
https://github.com/matheuss/google-translate-api/blob/master/index.js#L73

[2019-01-04 03:51] matheus-rosin opened #91 "Text direction"
I think a good new resource would be a new `export` declaration in `languages.js` called `rtl`, which stands for "right to left".

There is a CSS property called `direction` for setting how to show text in a node, whether from left to right (most languages) or from right to left (just a few ones).

Exporting such a variable would be agreeable for those who want to show a properly styled input, for

[2019-01-06 01:14] patentfm commented on #57
not sure if it also applies but translate.google for example has 5000 chars limit
![image](https://user-images.githubusercontent.com/29088102/50730934-ccaa0700-1158-11e9-91af-d74f3f9b926d.png)

[2019-01-06 14:49] gabrii commented on #89
Same problem here, but with react js 16.7.0, and on import.

[2019-01-14 07:35] #85 closed, assigned to nobody

[2019-01-21 16:50] brolnickij commented on #90
@jfoclpf Hello Friend! Go to the fork of this repository, which is now actively supported: https://github.com/vitalets/google-translate-api

[2019-01-21 16:51] brolnickij commented on #84
Hello Friends! Go to the fork of this repository, which is now actively supported: https://github.com/vitalets/google-translate-api

[2019-01-21 17:43] jfoclpf commented on #90
thanks @brolnickij

[2019-01-29 10:09] Svetomechc opened #92 "Doesn't work in browser"
I'm trying to use this in an Angular 7 app, but it seems this is not possible?

[2019-01-29 15:44] vitalets commented on #92
This lib is for Node.js.

[2019-02-06 08:44] #49 closed, assigned to nobody

[2019-02-06 11:09] vitalets commented on #49
So, is it finally worked?

[2019-02-06 11:45] 1c7 commented on #49
I forgot. because it's chinese new year so I just close a bunch of github issue that been open for years

[2019-02-21 13:36] KrunalGosai opened #93 "Response code 403 (Forbidden) Error dose not work in node."
message: 'Response code 403 (Forbidden)',
host: 'translate.google.com',
hostname: 'translate.google.com',
method: 'GET',
path:
'/translate_a/single?client=t&sl=en&tl=nl&hl=nl&dt=at&dt=bd&dt=ex&dt=ld&dt=md&dt=qca&dt=rw&dt=rm&dt=ss&dt=t&ie=UTF-8&oe=UTF-8&otf=1&ssel=0&tsel=0&kc=7&q=I%20spea%20Dutch!&tk=377195.377195',
statusCode: 403,
statusMessage: 'Forbidden'

[2019-02-22 17:33] vitalets commented on #93
Duplicates to https://github.com/matheuss/google-translate-api/issues/79.
You can also try this fork https://github.com/vitalets/google-translate-api that fixes several issues of original package.

[2019-02-26 09:29] KrunalGosai commented on #93
thanks

https://github.com/vitalets/google-translate-api working great !!

[2019-02-26 09:29] #93 closed, assigned to nobody

[2019-03-04 07:26] mohasin69 commented on #79
Also dont forget this
https://github.com/matheuss/google-translate-api/issues/79#issuecomment-443428475

[2019-03-04 17:32] rawr51919 commented on #62
This change has been PRed into a maintained fork (vitalets/google-translate-api). If I could figure how I should reference a remote issue on GitHub, I'd link this issue to the issue I opened on the matter there.

[2019-03-04 17:33] rawr51919 commented on #68
I have PRed this fix into a maintained fork of this repo (vitalets/google-translate-api).

[2019-03-06 13:34] cjrsgu commented on #92
It doesn't work in browser because it uses cross origin requests. I made it work here [google-translate-api-browser](https://github.com/cjvnjde/google-translate-api-browser). It uses [cors-anywhere](https://github.com/Rob--W/cors-anywhere)

[2019-03-06 14:58] vitalets commented on #92
I think you should definitely mention that all requests are proxied via `http://cors-anywhere.herokuapp.com`. If that app goes down or your users pass sensitive data for translation - it may have impact on you.

[2019-03-13 19:47] eybarta commented on #9
I got the same error when trying to run this on the client.. running it on the server worked.

[2019-03-15 13:04] anwaarul commented on #43
Any answer found?

[2019-03-18 16:51] rawr51919 commented on #60
This has been fixed in a better manner in https://github.com/vitalets/google-translate-api as of the writing of this comment.

[2019-03-19 10:28] vitalets commented on #60
Released yesterday [@vitalets/google-translate-api](https://github.com/vitalets/google-translate-api) where with help of @coltongit we can use custom `tld` for google translate host:
[code]

[2019-03-19 10:29] 0xMarsLi commented on #79
amazing ~ What did you do?

[2019-03-19 12:27] rawr51919 commented on #59
@un33k That's exactly what has been done to fix this in https://github.com/vitalets/google-translate-api.

[2019-03-19 12:28] rawr51919 commented on #68
This has been fixed as of v2.8.0 in https://github.com/vitalets/google-translate-api.

[2019-03-19 12:29] rawr51919 commented on #89
This isn't actually an issue of this repo. It's an issue related to you using "" instead of '' where you're using it.

[2019-03-19 12:59] rawr51919 commented on #92
Ye. @cjvnjde, I carried over the additions and fixes that were added recently into vitalets' fork of this repo over to yours. Go ahead and take a look at that PR and see if things still work like they should over there with the new code in place.

[2019-03-19 13:03] rawr51919 commented on #62
This has been fixed in https://github.com/vitalets/google-translate-api as of the writing of this comment.

[2019-03-19 13:04] rawr51919 commented on #64
This code should work fine, however, this repo has been broken for a while now, so try using https://github.com/vitalets/google-translate-api instead.

[2019-03-19 13:19] rawr51919 commented on #86
This isn't really much of an issue, but this repo is outdated.
If you want to use it in a browser, use https://github.com/cjvnjde/google-translate-api-browser
If you want to use it outside of a browser, use https://github.com/vitalets/google-translate-api
For overall installation (as this is a JavaScript library), you use, depending on the repo you want to use:
If using `npm`: `npm i @vitalets/goo

[2019-03-19 13:25] rawr51919 commented on #90
Indeed so, as this dependency has been removed altogether from that repo.

[2019-03-19 13:29] rawr51919 commented on #48
This has been fixed in https://github.com/vitalets/google-translate-api.

[2019-03-19 13:30] rawr51919 commented on #47
This isn't an issue of the repo itself, but of your Internet connection. Try using https://github.com/vitalets/google-translate-api and see if that will fix your issue, as this repo is outdated.

[2019-03-19 13:32] rawr51919 commented on #44
https://github.com/cjvnjde/google-translate-api-browser is a version of this repo made for the web browser. Try using that repo and see if that will fix your issue (it's an npm library, too).

[2019-03-19 13:33] rawr51919 commented on #41
Both `zh` and `zh-cn` are supported as of v2.8.0 in https://github.com/vitalets/google-translate-api.

[2019-03-19 13:35] rawr51919 commented on #3
This library is using an invalid token. Try porting from https://github.com/vitalets/google-translate-api (which has fixed this issue and others) instead, or at least fix your port using ported fixes from that repo.

[2019-03-19 13:37] rawr51919 commented on #4
https://github.com/cjvnjde/google-translate-api-browser would like to say hi, @JValck. It's a version made for exactly that, the browser.

[2019-04-12 09:04] HAOHAOXUEXI5776 commented on #47
emmm, I am annoyed with this problem too. But '@vitalets/google-translate-api' seems not to work for me.

[2019-04-12 09:50] vitalets commented on #47
@qwtao Have you used `tld: 'cn'` option?

[2019-04-13 10:51] wonderlandpark opened #94 "Not working"
DOESN'T WORK
[code]

[2019-04-18 03:40] brolnickij commented on #94
@wonderlandpark
Hello friend! Go to the fork of this repository, which is now actively supported: https://github.com/vitalets/google-translate-api

[2019-04-22 11:17] VivekSharma811 commented on #43
I am having the same problem. Did anyone find any solution?

[2019-04-25 15:06] akkitech opened #95 "SSL Error"
Often receiving SSL error while calling translate api.

Error: write EPROTO 139834744043328:error:1408F10B:SSL routines:ssl3_get_record:wrong version number:../deps/openssl/openssl/ssl/record/ssl3_record.c:252:

Is there anything we can fix this from our end or is it google's server issue?

[2019-04-28 06:11] KundanIws commented on #43
I am also getting this issue. I am using a translator api of google.

[2019-04-28 23:49] brolnickij commented on #95
@akkitech
Hello! Go to the fork of this repository, which is now actively supported: https://github.com/vitalets/google-translate-api

[2019-05-03 09:20] riddla commented on #95
@brolnickij, great stuff! I integrated https://github.com/vitalets/google-translate-api into my fork of this project over at https://github.com/riddla/alfred-polyglot and it works like a charm. My fork can be installed via `https://github.com/riddla/alfred-polyglot`.

[2019-05-03 09:20] riddla commented on #94
@brolnickij, great stuff! I integrated https://github.com/vitalets/google-translate-api into my fork of this project over at https://github.com/riddla/alfred-polyglot and it works like a charm. My fork can be installed via `https://github.com/riddla/alfred-polyglot`.

[2019-05-03 11:08] #94 closed, assigned to nobody

[2019-05-14 11:43] myfreax commented on #79
well good,it work well.

[2019-05-23 07:44] yamatakau08 opened #96 "Cant' get result google-translate"
I'm` using google-translate-20190206.1229 from elpa in my company's proxy environment.

Since I don't get the translate result of google-translate,
I set (setq url-debug t) to put out debug message of url.el which google-translate use.

The following is *URL-DEBUG* of url.el.

Could you advice me what is wrong?

■ my environment
(emacs-version)
"GNU Emacs 26.1 (build 1, x86_64-w64-mingw32)
 of 201

[2019-05-24 03:28] yamatakau08 commented on #96
I tried with emacs binary same as the abover which I get from GNU ftp server.
It works fine. No problem.
So I close this issue.

[2019-05-24 03:28] #96 closed, assigned to nobody

[2019-05-26 00:24] dallas-huggins-RocketInsights commented on #89
I am receiving the exact same error and I'm not using double quotes.

[code]

[2019-05-26 00:36] dallas-huggins-RocketInsights commented on #89
I am receiving the exact same error and I'm not using double quote @coltongit.

[code]

[2019-05-26 00:38] dallashuggins commented on #89
I am receiving the exact same error and I'm not using double quotes @coltongit.

[code]

[2019-06-09 04:26] ruscandino commented on #79
Getting `HTTPError: Response code 429 (Too Many Requests)` after just one run on all languages.

[2019-07-09 16:57] SallyHabib97 commented on #89
I am receiving the exact error while using one quote

[2019-07-11 12:21] vitalets commented on #89
This library does not work in web page context.
See: https://github.com/vitalets/google-translate-api#does-it-work-from-web-page-context

[2019-08-11 09:58] hua1995116 commented on #95
I implemented a repo for batch translation.  No longer a single translation.  https://github.com/hua1995116/google-translate-open-api

[2019-08-13 11:04] manel00 opened #97 "ERROR in ./node_modules/@vitalets/google-translate-token/node_modules/got/index.js"
Hi,

First of all i'm really excited to find this library, but however... Always getting surprises jajaja

ERROR in ./node_modules/@vitalets/google-translate-token/node_modules/got/index.js
[ng] ERROR in ./node_modules/osenv/osenv.js
.....

I'm using it on Ionic 4 (Cordova) on a Typescript, what should i do? thank you so much

[2019-08-21 10:58] rawr51919 commented on #97
This library is for Node.js, not Typescript. This repo is also unmaintained, so if you're gonna use it, use vitalets' fork instead, which has many improvements over this one as it is: https://github.com/vitalets/google-translate-api

[2019-08-21 11:03] rawr51919 commented on #95
You'll probably have to implement each and every feature from https://github.com/vitalets/google-translate-api to fix bugs that carried over to your project via using this as the base instead of that fork. There are plenty of bugs this fork fixes and new features it has that this one doesn't.

[2019-08-22 15:08] hakkikonu opened #98 "Is it compatible with React-Native?"
Is google-translate-api compatible with React Native or is there a wrapper for it?

[2019-09-11 19:03] tyt34 commented on #84
ThankYou

[2019-09-20 11:25] vitalets commented on #95
@hua1995116 Could you point how you get token fo batch translation?

[2019-09-20 11:33] vitalets commented on #98
I'm maintaining a fork of this repo: https://github.com/vitalets/google-translate-api
Currently it will not work in React native out of box but technically it is possible.
At first glance the only thing to be changed - replace configstore package with RN [asyncStorage](https://facebook.github.io/react-native/docs/asyncstorage) api.

Feel free to open issue in fork for supporting RN.

[2019-09-20 13:20] hua1995116 commented on #95
@vitalets  I used your way to generate token and took some change for support browsers.
About using, I combined multiple pieces of text in exchange for a token. But I used the different API on google translate, the Inspiration is from https://chrome.google.com/webstore/detail/google-translate/aapbdbdomjkkjkaonfhkkikfgjllcleb?hl=zh-CN

[2019-09-21 07:01] fyuan1030 opened #99 "what is this operation"

[2019-09-21 07:03] fyuan1030 commented on #99
characters are these '&', 'm', 'd', 'a', 's', 'h', ';'

[2019-09-22 07:40] #99 closed, assigned to nobody

[2019-10-28 01:06] bag7dad opened #100 "UnhandledPromiseRejectionWarning: HTTPError: Response code 429 (Too Many Requests)"

[2019-11-26 09:55] jayna456 opened #101 "Can we call this translate() in loop?"
I have array of objects. From which I have one key value pair on which I want to translate it. By calling translate() in loop getting error of  **Response code 429 (Too Many Requests)**

Below is my code:
[code]

the function is not event taking first element from the array. i.e. array[0]. By doing this too, I am getting **too many requests error..**

Please help me out..

[2019-12-10 22:13] Stanlyhalo opened #102 "Can't translate, getting error."
I'm getting this error:

{ Error
    at /rbd/pnpm-volume/d8614593-b135-49f8-804b-3686ad6243fd/node_modules/.registry.npmjs.org/google-translate-api/2.3.0/node_modules/google-translate-api/index.js:105:17
    at <anonymous>
    at process._tickCallback (internal/process/next_tick.js:189:7) code: 'BAD_REQUEST' }

when doing this

    translate('Hello', {from: 'en', to: 'es'}).then(res => {
      con

[2019-12-30 20:25] MihaiWill opened #103 "[error] Module not found: Can't resolve 'child_process'"
[code]

I added this package on my Nextjs project and when I import it i got the above error. What should I do? Thanks!

[2020-01-12 09:02] Himadri001 commented on #102
Having the same problem, any update on this?

[2020-01-24 21:26] mistersender commented on #102
I'm also seeing this error. looks like the underlying issue is a 403. wonder if google locked it down finally?

[2020-02-03 11:20] kumaresan-subramani opened #104 "can not translate while using it in gulpfile?"
below is my gulpfile:

[code]

[2020-02-14 02:47] motss commented on #66
Sounds like this is going to abuse the service. Better off paying for the real API service.

[2020-02-25 09:55] moyu5555 opened #106 "code: 'BAD_REQUEST"
{ Error
    at /home/xiangying/server/core/node_modules/_google-translate-api@2.3.0@google-translate-api/index.js:105:17
    at <anonymous>
    at process._tickCallback (internal/process/next_tick.js:188:7) code: 'BAD_REQUEST' }

[2020-02-26 10:33] summerscar commented on #106
i have the same problem

[2020-03-08 17:45] Hector6704 commented on #106
same from me too, it doesn't translate anything at all

[2020-03-09 03:49] kieuquangloc147 commented on #106
@matheuss can you help us?

[2020-03-13 14:59] wilsonwu commented on #106
This project is out of date, from the code, I found the page "https://translate.google.cn/translate_a/single" is 404.

[2020-03-13 21:13] myusufid commented on #106
same, maybe have problem with API from google translate

[2020-03-14 17:10] ezdiy commented on #106
Use https://github.com/davidwilsonfs/google-translate-token

[2020-03-14 17:32] wilsonwu commented on #106
Use this: https://github.com/wilsonwu/translation-google
It support Chinese server.

[2020-03-31 02:46] grzeczko opened #107 "Uncaught TypeError: exec is not a function"
I'm getting the following error when attempting to require `google-translate-api`:

I'm including it with the following code:

When I look at my console, here is the code snippet it's complaining about:

`var isWindows = process.platform === 'win32'
var path = require('path')
var exec = require('child_process').exec
var osTmpdir = require('os-tmpdir')
var osHomedir = require('os-homedir')

// look

[2020-04-20 08:48] sufeiweb opened #110 "近期google-translate-api更新一次"
client：t=>webapp

返回值 body[0] 存在为空的情况，导致翻译会报错

需要修改为body[0]  =>  body[0] && body[0].forEach

由于主人断更了，可以移步 https://github.com/sufeiweb/google-translate-free
稍后会发布到npm上，方便大家直接使用

[2020-04-25 02:23] ZyC0R3 commented on #104
Hi, take a look at this repo, https://github.com/vitalets/google-translate-api
its update to fix this issue,

Also i have a clone of the above repo and maintain it too,
https://github.com/ZyC0R3/google-translate-api

[2020-04-25 04:33] kumaresan-subramani commented on #104
HI @ZyC0R3 ,

Still it doesn't translate my text - refer below gulp task

https://github.com/kumaresan-subramani/gulp-translate/blob/master/gulpfile.js

[2020-05-21 04:09] BriungRi commented on #107
I was trying to build a web application that used this package, and I ran into the same issue as you. I think it's because this package is meant to be used in a backend node.js service rather than from a browser. I found the snippet that was err'ing out from the `osenv` package, and I noticed that some other javascript users ran into similar issues

ref: https://github.com/wildbit/postmark.js/issu

[2020-08-13 02:24] mashirozx commented on #110
谢谢！

不过有问题想请教一下。
我想在webpack里面调用这个模块，但是出现了下面的报错：
[code]

难道是这个模块只能用在后端？

[2020-09-22 23:31] feech commented on #100
did someone find a meaningful description of the existing limits?

[2020-12-10 03:00] mashirozx commented on #110
google translate 403了。。

{ HTTPError: Response code 403 (Forbidden)
Url: https://translate.google.com/translate_a/single?client=t&sl=auto&tl=ja&hl=ja&dt=at&dt=bd&dt=ex&dt=ld&dt=md&dt=qca&dt=rw&dt=rm&dt=ss&dt=t&ie=UTF-8&oe=UTF-8&otf=1&ssel=0&tsel=0&kc=7&q=hello&tk=29979.29979
    at EventEmitter.emitter.on (/root/tmp/google-translate-server/node_modules/google-translate-free/node_modules/got/source

[2020-12-10 03:23] mashirozx commented on #110
加了UA也不行。。。

[2020-12-22 18:05] ArtanisTheOne commented on #79
gtx no longer functions correctly.

After looking at it it seems to be a way for Google Translate Plugin to receive translations without creating a token. Thus it was never meant to be used for many translations.  Vitalets as well as matheuss's forks are creating incorrect tokens which is seriously affecting functionality.

Could a team be brought together to fix such errors who know how to work w

[2020-12-22 18:08] ArtanisTheOne opened #113 "Incorrect token generation (403 forbidden error)"
Incorrect tokens are being generated more and more in which tokens appear with the same numbers of either side of the dot.

For example,

&tk=11354.11354 , &tk=93841.93841 , &tk=21324.21324

This means that only 5 out of the 10 token numbers are correct and the incorrect ones are seriously blocking functionality.
Is there a way to fix [this package ](https://github.com/matheuss/google-translate-to

[2020-12-22 18:08] ArtanisTheOne commented on #113
Issue stems from [google-translate-token](https://github.com/matheuss/google-translate-token)

[2020-12-22 18:09] ArtanisTheOne commented on #102
Incorrect token is being generated, check out my open[ issue](https://github.com/matheuss/google-translate-api/issues/113)

[2021-01-18 22:15] braco commented on #107
@BriungRi good call, it seems to be from the `configstore` package:

[code]

Doesn't seem like @matheuss is still maintaining this repo

[2021-01-22 09:05] HarrisonQi opened #115 "Docker please!"
Thank you very much!
We need docker! Other languages can use this simple!

[2021-01-25 18:55] vitalets commented on #79
I've released [@vitalets/google-translate-api](https://github.com/vitalets/google-translate-api) v5.0.0 that fixes the problem.
PR with changes: [#60](https://github.com/vitalets/google-translate-api/pull/60), many thanks to [@vkedwardli](https://github.com/vkedwardli)

[2021-03-31 23:28] slaviboy commented on #106
Yea I have tried translating 200 sentences using a for loop, and after that a got that 'BAD_REQUEST'.
Google will send you the response with **statusMessage: 'Too Many Requests'**, so the problem is that you made too many request and you ID was blocked, and you are no longer able to request translation from the Google`s service :disappointed_relieved:

[2021-04-05 18:56] doverradio commented on #106
How do you use this?

I also found this library, just tried to use for the last 10 minutes, then got errors of 'BAD_REQUEST'.

How do you use the google-translate-token to solve?  Is that even still a solution?

[2021-04-24 15:47] xsvetli1 commented on #106
This works! Thank you!

[2021-04-29 15:14] #75 closed, assigned to nobody

[2021-05-19 13:06] JeshuwaBradley opened #116 "BAD_REQUEST"
Everytime i try translating i get this. What can be the problem?

Error
    at C:\Users\jeshu\desktop\bradley\shop\node_modules\google-translate-api\index.js:105:17
    at processTicksAndRejections (internal/process/task_queues.js:93:5) {
  code: 'BAD_REQUEST'

[2021-05-26 12:06] milahu commented on #81
in my case, i need character-exact html translations with google's free API
so i ended up writing an html2google encoder in my [translate.js](https://github.com/milahu/alchi/blob/master/src/alchi-book/scripts/translate.js) script

also see my post in [Prohibit the translation of pieces of text in Google Translate](https://webapps.stackexchange.com/a/154694/273346)

[2021-06-23 09:24] JennerPalacios opened #117 "BAD_NETWORK"
I am guessing I am hitting the RATE LIMIT? is there a way to include a token, or whatever... if we're able to pay for the service?

[2021-07-05 17:07] Iru21 opened #118 "Here's how to fix the BAD_REQUEST error on the npm package"
Find the google-translate-api in your node_modules folder and replace tk.js file content with this (it is literally [this](https://github.com/davidwilsonfs/google-translate-token/blob/master/index.js) but I fixed the export)

`var got = require("got"),
Configstore = require("configstore");
function sM(r) {
    var e;
    if (null !== yr) e = yr;
    else {
        e = wr(String.fromCharCode(84));

[2021-07-28 20:13] vitonsky opened #119 "Suggest package to replace while this return BAD_REQUEST"
This project looks like are not have maintenance.

I don't know how long it will be, but i here to suggest alternative for this package.

Check out https://github.com/translate-tools/core ([npm](https://www.npmjs.com/package/@translate-tools/core))

I maintanence this project and its support typescript and have google, yandex and bing modules.

@matheuss if you not have time for maintenance a http

[2021-09-01 05:17] writingdeveloper opened #121 "Is this package deprecated?"
When I tried to use this package in my Node.js app, it shows me an BAD_REQUEST error.

Is this package deprecated?

Additionally, Google supports official API with this package.
If there someone who wants to use this package, check this link below.

[](https://www.npmjs.com/package/@google-cloud/translate)

[2021-09-15 11:33] dawangraoming commented on #110
same 403

[2021-09-19 13:08] ngocsangyem commented on #121
Maybe yes, you can try the [fork version](https://github.com/vitalets/google-translate-api)

[2021-11-08 08:30] #68 closed, assigned to nobody

[2022-01-07 23:54] tyt34 commented on #118
I use command
`npm install @vitalets/google-translate-api
`
this error has been fixed

[2022-02-09 20:40] usmandilmeer commented on #116
i also get bad request

[2022-06-08 00:36] AidanWelch commented on #92
In case others are looking here is an up-to-date axios port: https://github.com/AidanWelch/google-translate-api

[2022-06-12 04:28] AidanWelch commented on #121
The fork above is maintained, but somewhat slowly, and relies on Got so I have also [started a fork of that fork](https://github.com/AidanWelch/google-translate-api#readme)

[2022-06-15 17:01] lordm121 opened #124 "I don't find my language"
I think google added Kurdish language but this npm not added yet

[2022-06-24 21:38] AidanWelch commented on #124
Yes this package is no longer being updated, I am maintaining a fork that is, and am adding support for all new languages soon: [here](https://www.npmjs.com/package/google-translate-api-x)

[2022-08-09 10:20] FemilPatel opened #126 "Error: Unable to resolve module"
Error: Unable to resolve module events
Error: Unable to resolve module vm

[2022-08-09 22:31] tlamon commented on #106
Thanks!

[2022-10-09 20:20] AidanWelch commented on #126
This version is outdated, I [forked and updated](https://github.com/AidanWelch/google-translate-api)

[2022-10-11 08:27] FemilPatel commented on #126
no